In [3]:
from app.util.sqlite.sqliteSample import SqliteTool

# Database 접속
t = SqliteTool()
print(t.is_connected)

False

In [3]:
QUERY = """
SELECT Player, Age, Gls
FROM players
WHERE
Age >= 30 AND
Gls >= 5
ORDER BY Age DESC;
"""

# Query 수행 및 결과 리스트 반환
dataset = t.EXECUTE(QUERY)

In [4]:
print(dataset)

[('Michail Antonio', 33, 6.0), ('Raúl Jiménez', 32, 7.0), ('Danny Welbeck', 32, 5.0), ('Mohamed Salah', 31, 18.0), ('Callum Wilson', 31, 9.0), ('Son Heung-min', 31, 17.0), ('Chris Wood', 31, 14.0), ('Bobby Reid', 30, 6.0), ('Abdoulaye Doucouré', 30, 7.0)]

In [4]:
import pandas as pd

# 데이터프레임 만들기
df = pd.DataFrame(dataset, columns=['Player', 'Age', 'Gls'])

# 데이터프레임 출력 :: 주피터 노트북에서만 가능
df

               Player  Age   Gls
0     Michail Antonio   33   6.0
1        Raúl Jiménez   32   7.0
2       Danny Welbeck   32   5.0
3       Mohamed Salah   31  18.0
4       Callum Wilson   31   9.0
5       Son Heung-min   31  17.0
6          Chris Wood   31  14.0
7          Bobby Reid   30   6.0
8  Abdoulaye Doucouré   30   7.0

In [6]:
QUERY = """
SELECT Player, Team, Age, Pos, MP, Starts, Gls, Ast, CrdY, CrdR
FROM players
ORDER BY Team DESC;
"""

# Query 수행 및 결과 리스트 반환
dataset2 = t.EXECUTE(QUERY)

In [8]:
import pandas as pd

df = pd.DataFrame(dataset2, columns=['Player', 'Team', 'Age', 'Pos', 'MP', 'Starts' ,'Gls', 'Ast', 'CrdY', 'CrdR'])

df

,Player,Team,Age,Pos,MP,Starts,Gls,Ast,CrdY,CrdR
0,Max Kilman,Wolverhampton,26,DF,38,38.0,2.0,0.0,7.0,0.0
1,Nélson Semedo,Wolverhampton,29,"DF,MF",36,36.0,0.0,1.0,10.0,1.0
2,José Sá,Wolverhampton,30,GK,35,35.0,0.0,1.0,1.0,0.0
3,Mario Lemina,Wolverhampton,29,MF,35,34.0,4.0,1.0,12.0,1.0
4,João Gomes,Wolverhampton,22,MF,34,32.0,2.0,1.0,11.0,0.0
...,...,...,...,...,...,...,...,...,...,...
575,Reiss Nelson,Arsenal,23,FW,15,1.0,0.0,0.0,1.0,0.0
576,Jurriën Timber,Arsenal,22,DF,2,1.0,0.0,0.0,2.0,0.0
577,Cédric Soares,Arsenal,31,DF,3,0.0,0.0,0.0,0.0,0.0
578,Mohamed Elneny,Arsenal,31,MF,3,0.0,0.0,0.0,0.0,0.0
579,Ethan Nwaneri,Arsenal,16,FW,1,0.0,0.0,0.0,0.0,0.0

In [12]:
QUERY = """
SELECT Player, Team, Age, MP, Starts, Min
FROM players
WHERE
Age >= 30
ORDER BY Team;
"""

# Query 수행 및 결과 리스트 반환
dataset3 = t.EXECUTE(QUERY)

In [13]:
import pandas as pd

df = pd.DataFrame(dataset3, columns=['Player', 'Team', 'Age', 'MP', 'Starts' , 'Min'])

df

                Player           Team  Age  MP  Starts     Min
0             Jorginho        Arsenal   31  24    10.0   921.0
1        Thomas Partey        Arsenal   30  14     9.0   788.0
2        Cédric Soares        Arsenal   31   3     0.0    62.0
3       Mohamed Elneny        Arsenal   31   3     0.0    28.0
4    Emiliano Martínez    Aston Villa   30  34    34.0  3015.0
..                 ...            ...  ...  ..     ...     ...
98             José Sá  Wolverhampton   30  35    35.0  3037.0
99        Craig Dawson  Wolverhampton   33  25    25.0  2209.0
100      Pablo Sarabia  Wolverhampton   31  30    20.0  1745.0
101       Matt Doherty  Wolverhampton   31  30     9.0  1150.0
102     Daniel Bentley  Wolverhampton   30   5     3.0   383.0

[103 rows x 6 columns]

In [14]:
QUERY = """
SELECT Player, Team, Pos, Gls, Ast, GnA
FROM players
WHERE
Pos = "FW" OR Pos = "MF" AND
Gls >= 5
ORDER BY Team;
"""

# Query 수행 및 결과 리스트 반환
dataset4 = t.EXECUTE(QUERY)

In [15]:
import pandas as pd

df = pd.DataFrame(dataset4, columns=['Player', 'Team', 'Pos', 'Gls', 'Ast' , 'GnA'])

df

                 Player             Team Pos   Gls   Ast   GnA
0           Declan Rice          Arsenal  MF   7.0   8.0  15.0
1       Martin Ødegaard          Arsenal  MF   8.0  10.0  18.0
2           Bukayo Saka          Arsenal  FW  16.0   9.0  25.0
3    Gabriel Martinelli          Arsenal  FW   6.0   4.0  10.0
4         Gabriel Jesus          Arsenal  FW   4.0   5.0   9.0
..                  ...              ...  ..   ...   ...   ...
101       George Earthy  West Ham United  FW   1.0   0.0   1.0
102         Fábio Silva    Wolverhampton  FW   0.0   0.0   0.0
103        Leon Chiwome    Wolverhampton  FW   0.0   0.0   0.0
104       Nathan Fraser    Wolverhampton  FW   0.0   0.0   0.0
105      Sasa Kalajdzic    Wolverhampton  FW   2.0   0.0   2.0

[106 rows x 6 columns]

In [4]:
QUERY = """
SELECT Player, Team, Pos, xG, Gls
FROM players
WHERE Pos = "FW"
ORDER BY Team;
"""

# Query 수행 및 결과 리스트 반환
dataset500 = t.EXECUTE(QUERY)

In [5]:
import pandas as pd

df = pd.DataFrame(dataset500, columns=['Player', 'Team', 'Pos', 'xG', 'Gls'])

df

                Player             Team Pos    xG   Gls
0          Bukayo Saka          Arsenal  FW  15.5  16.0
1   Gabriel Martinelli          Arsenal  FW   6.8   6.0
2        Gabriel Jesus          Arsenal  FW   6.3   4.0
3        Eddie Nketiah          Arsenal  FW   4.5   5.0
4         Reiss Nelson          Arsenal  FW   0.2   0.0
..                 ...              ...  ..   ...   ...
90       George Earthy  West Ham United  FW   0.3   1.0
91         Fábio Silva    Wolverhampton  FW   1.0   0.0
92        Leon Chiwome    Wolverhampton  FW   0.1   0.0
93       Nathan Fraser    Wolverhampton  FW   0.3   0.0
94      Sasa Kalajdzic    Wolverhampton  FW   1.1   2.0

[95 rows x 5 columns]

In [16]:
QUERY = """
SELECT Player, Team, Pos, CrdY, CrdR
FROM players
ORDER BY Team;
"""

# Query 수행 및 결과 리스트 반환
dataset5 = t.EXECUTE(QUERY)

In [18]:
import pandas as pd

df = pd.DataFrame(dataset5, columns=['Player', 'Team', 'Pos', 'CrdY', 'CrdR'])

df

              Player           Team    Pos  CrdY  CrdR
0     William Saliba        Arsenal     DF   4.0   0.0
1        Declan Rice        Arsenal     MF   5.0   0.0
2    Martin Ødegaard        Arsenal     MF   2.0   0.0
3          Ben White        Arsenal     DF   8.0   0.0
4        Bukayo Saka        Arsenal     FW   4.0   0.0
..               ...            ...    ...   ...   ...
575    Nathan Fraser  Wolverhampton     FW   1.0   0.0
576   Sasa Kalajdzic  Wolverhampton     FW   0.0   0.0
577  Tawanda Chirewa  Wolverhampton  MF,FW   1.0   0.0
578     Jonny Castro  Wolverhampton     MF   0.0   0.0
579    Enso Gonzalez  Wolverhampton  MF,DF   0.0   0.0

[580 rows x 5 columns]

In [19]:
QUERY = """
SELECT Player, Nation, Team
FROM players
ORDER BY Team;
"""

# Query 수행 및 결과 리스트 반환
dataset6 = t.EXECUTE(QUERY)

In [21]:
import pandas as pd

df = pd.DataFrame(dataset6, columns=['Player', 'Nation', 'Team'])

df

              Player   Nation           Team
0     William Saliba   fr FRA        Arsenal
1        Declan Rice  eng ENG        Arsenal
2    Martin Ødegaard   no NOR        Arsenal
3          Ben White  eng ENG        Arsenal
4        Bukayo Saka  eng ENG        Arsenal
..               ...      ...            ...
575    Nathan Fraser   ie IRL  Wolverhampton
576   Sasa Kalajdzic   at AUT  Wolverhampton
577  Tawanda Chirewa   zw ZIM  Wolverhampton
578     Jonny Castro   es ESP  Wolverhampton
579    Enso Gonzalez   py PAR  Wolverhampton

[580 rows x 3 columns]

In [22]:
QUERY = """
SELECT Player, Gls, Ast
FROM players
ORDER BY Team;
"""

# Query 수행 및 결과 리스트 반환
dataset7 = t.EXECUTE(QUERY)

In [23]:
import pandas as pd

df = pd.DataFrame(dataset7, columns=['Player', 'Gls', 'Ast'])

df

              Player   Gls   Ast
0     William Saliba   2.0   1.0
1        Declan Rice   7.0   8.0
2    Martin Ødegaard   8.0  10.0
3          Ben White   4.0   4.0
4        Bukayo Saka  16.0   9.0
..               ...   ...   ...
575    Nathan Fraser   0.0   0.0
576   Sasa Kalajdzic   2.0   0.0
577  Tawanda Chirewa   0.0   0.0
578     Jonny Castro   0.0   0.0
579    Enso Gonzalez   0.0   0.0

[580 rows x 3 columns]

In [24]:
QUERY = """
SELECT Player, MP, Starts
FROM players
ORDER BY Team;
"""

# Query 수행 및 결과 리스트 반환
dataset8 = t.EXECUTE(QUERY)

In [25]:
import pandas as pd

df = pd.DataFrame(dataset8, columns=['Player', 'MP', 'Starts'])

df

              Player  MP  Starts
0     William Saliba  38    38.0
1        Declan Rice  38    37.0
2    Martin Ødegaard  35    35.0
3          Ben White  37    35.0
4        Bukayo Saka  35    35.0
..               ...  ..     ...
575    Nathan Fraser   7     1.0
576   Sasa Kalajdzic  11     1.0
577  Tawanda Chirewa   8     1.0
578     Jonny Castro   1     0.0
579    Enso Gonzalez   1     0.0

[580 rows x 3 columns]

In [26]:
QUERY = """
SELECT Player, CrdY, CrdR
FROM players
ORDER BY Team;
"""

# Query 수행 및 결과 리스트 반환
dataset9 = t.EXECUTE(QUERY)

In [27]:
import pandas as pd

df = pd.DataFrame(dataset9, columns=['Player', 'CrdY', 'CrdR'])

df

              Player  CrdY  CrdR
0     William Saliba   4.0   0.0
1        Declan Rice   5.0   0.0
2    Martin Ødegaard   2.0   0.0
3          Ben White   8.0   0.0
4        Bukayo Saka   4.0   0.0
..               ...   ...   ...
575    Nathan Fraser   1.0   0.0
576   Sasa Kalajdzic   0.0   0.0
577  Tawanda Chirewa   1.0   0.0
578     Jonny Castro   0.0   0.0
579    Enso Gonzalez   0.0   0.0

[580 rows x 3 columns]

In [31]:
QUERY = """
SELECT Player, PKatt, PK
FROM players
ORDER BY Team;
"""

# Query 수행 및 결과 리스트 반환
dataset10 = t.EXECUTE(QUERY)

In [32]:
import pandas as pd

df = pd.DataFrame(dataset10, columns=['Player', 'PKatt', 'PK'])

df

              Player  PKatt   PK
0     William Saliba    0.0  0.0
1        Declan Rice    0.0  0.0
2    Martin Ødegaard    2.0  2.0
3          Ben White    0.0  0.0
4        Bukayo Saka    6.0  6.0
..               ...    ...  ...
575    Nathan Fraser    0.0  0.0
576   Sasa Kalajdzic    0.0  0.0
577  Tawanda Chirewa    0.0  0.0
578     Jonny Castro    0.0  0.0
579    Enso Gonzalez    0.0  0.0

[580 rows x 3 columns]