In [1]:
from app.util.sqlite.sqliteSample import SqliteTool

# Database 접속
t = SqliteTool()
print(t.is_connected)

False

In [3]:
QUERY = """
SELECT Player, Age, Gls
FROM players
WHERE
Age >= 30 AND
Gls >= 5
ORDER BY Age DESC;
"""

# Query 수행 및 결과 리스트 반환
dataset = t.EXECUTE(QUERY)

In [4]:
print(dataset)

[('Michail Antonio', 33, 6.0), ('Raúl Jiménez', 32, 7.0), ('Danny Welbeck', 32, 5.0), ('Mohamed Salah', 31, 18.0), ('Callum Wilson', 31, 9.0), ('Son Heung-min', 31, 17.0), ('Chris Wood', 31, 14.0), ('Bobby Reid', 30, 6.0), ('Abdoulaye Doucouré', 30, 7.0)]

In [2]:
import pandas as pd

# 데이터프레임 만들기
df = pd.DataFrame(dataset, columns=['Player', 'Age', 'Gls'])

# 데이터프레임 출력 :: 주피터 노트북에서만 가능
df

NameError: name 'dataset' is not defined

In [1]:
import pandas as pd

df = pd.DataFrame(dataset, columns=['Player', 'Team', 'Age', 'Pos', 'MP', 'Gls', 'Ast', 'GnA', 'PK'])

df

NameError: name 'dataset' is not defined